<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset=utf-8 />
  <title>{{title}}Full Frontal - JavaScript Conference - 12th November 2010</title>
  <meta id="meta" name="viewport" content="width=device-width; initial-scale=1.0" />
  <link rel="apple-touch-icon" href="/images/ff2010.png" />
  <!-- heroku hosted -->
  <script>
  // enable elements for styling in IE
  /*@cc_on'abbr article aside audio canvas details figcaption figure footer header hgroup mark menu meter nav output progress section summary time video'.replace(/\w+/g,function(n){document.createElement(n)})@*/
  </script>

  <link rel="stylesheet" href="/css/reset.css" media="screen" />
  <link rel="stylesheet" href="/css/base.css" media="screen" />

  <!--[if IE 8]><link rel="stylesheet" href="/css/ie8.css" type="text/css" media="screen" /><![endif]-->
  <!--[if IE 7]><link rel="stylesheet" href="/css/ie7.css" type="text/css" media="screen" /><![endif]-->

</head>
<body class="{{name}} vevent">
  <div id="latest">
    <p>This is the JavaScript Conference page for 2010, for the latest and greatest JavaScript conference, check out <a href="http://full-frontal.org">http://full-frontal.org</a></p>
  </div>
  <header id="header">

    <div class="inner">
      <a class="home" href="/">
        <h1>Full Frontal</h1>
        <h2>JavaScript Conference</h2>
      </a>
      <div id="tickets" class="soldout">
        <a href="/tickets">
          <h3>Tickets sold out!</h3>
        </a>
      </div>
    </div>
  </header>

  <nav id="nav">

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/schedule">Schedule</a></li>
      <li><a href="/workshops">Workshops</a></li>
      <li><a href="/speakers">Speakers</a></li>
      <li><a href="/venue">Venue</a></li>
      <li><a href="/sponsors">Sponsors</a></li>
      <li class="dateTime"><span>12th November 2010, Brighton UK</span></li>
    </ul>

  </nav>

  <div id="holder">

    <div class="inner">
    {{{body}}}

      <section id="photos">

        <a href="http://www.flickr.com/photos/remysharp/sets/72157622854415414/" title="">

          <ul>
            <li class="photo1"><img src="http://farm3.static.flickr.com/2802/4124548251_517d39cbc2_t.jpg" width="100" height="66" alt="Full Frontal 2009" title="Full Frontal 2009" /></li>
            <li class="photo2"><img src="http://farm3.static.flickr.com/2692/4125322192_2ac61f8ddd_t.jpg" width="100" height="66" alt="Full Frontal 2009" title="Full Frontal 2009" /></li>
            <li class="photo3"><img src="http://farm3.static.flickr.com/2537/4125326744_9e067816a9_t.jpg" width="100" height="66" alt="Full Frontal 2009" title="Full Frontal 2009" /></li>
            <li class="photo4"><img src="http://farm3.static.flickr.com/2519/4124564265_2ac173efb6_t.jpg" width="100" height="66" alt="Full Frontal 2009" title="Full Frontal 2009" /></li>
            <li class="photo5"><img src="http://farm3.static.flickr.com/2728/4125341288_aaaf891333_t.jpg" width="100" height="66" alt="Full Frontal 2009" title="Full Frontal 2009" /></li>
            <li class="photo6"><img src="http://farm3.static.flickr.com/2509/4124569359_08c90530e4_t.jpg" width="100" height="66" alt="Full Frontal 2009" title="Full Frontal 2009" /></li>
            <li class="photo7"><img src="http://farm3.static.flickr.com/2802/4124548251_517d39cbc2_t.jpg" width="100" height="66" alt="Full Frontal 2009" title="Full Frontal 2009" /></li>
            <li class="photo8"><img src="http://farm3.static.flickr.com/2746/4124540259_40ae1b9c5f_t.jpg" width="100" height="66" alt="Full Frontal 2009" title="Full Frontal 2009" /></li>
            <li class="photo9"><img src="http://farm3.static.flickr.com/2661/4124542167_a328e36ce0_t.jpg" width="100" height="66" alt="Full Frontal 2009" title="Full Frontal 2009" /></li>
            <li class="photo10"><img src="http://farm3.static.flickr.com/2535/4124580539_340ff51955_t.jpg" width="100" height="66" alt="Full Frontal 2009" title="Full Frontal 2009" /></li>
            <li class="photo11"><img src="http://farm3.static.flickr.com/2735/4124587605_26861a6e40_t.jpg" width="100" height="66" alt="Full Frontal 2009" title="Full Frontal 2009" /></li>
            <li class="photo12"><img src="http://farm3.static.flickr.com/2676/4125352480_b02696b848_t.jpg" width="100" height="66" alt="Full Frontal 2009" title="Full Frontal 2009" /></li>
            <li class="photo13"><img src="http://farm3.static.flickr.com/2787/4125346796_bc4e64592f_t.jpg" width="100" height="66" alt="Full Frontal 2009" title="Full Frontal 2009" /></li>
            <li class="photo14"><img src="http://farm3.static.flickr.com/2702/4124573673_936d6ee825_t.jpg" width="100" height="66" alt="Full Frontal 2009" title="Full Frontal 2009" /></li>
            <li class="photo15"><img src="http://farm3.static.flickr.com/2767/4124574315_8f7444027f_t.jpg" width="100" height="66" alt="Full Frontal 2009" title="Full Frontal 2009" /></li>
          </ul>

        </a>

      </section>

    </div>

  </div>

  <footer>

    <div class="inner">

      <ul>
        <li class="sponsor8"><a href="http://mozilla.org/"><span>Mozilla</span></a></li>
        <li class="sponsor1"><a href="http://developer.yahoo.com/"><span>Yahoo</span></a></li>
        <li class="sponsor5"><a href="http://uxebu.com/"><span>uxebu</span></a></li>
        <li class="sponsor9"><a href="http://www.webapplicationsuk.com/"><span>Web Applications UK</span></a></li>
        <li class="sponsor3"><a href="http://pusherapp.com/"><span>Pusher</span></a></li>
        <li class="sponsor4"><a href="http://dharmafly.com/"><span>Dhamafly</span></a></li>
        <li class="sponsor2"><a href="http://www.guardian.co.uk/open-platform/"><span>Guardian Open Platform</span></a></li>
      </ul>

      <p>Full Frontal is a one day JavaScript conference organised by Left Logic &ndash; <a href="/terms">Terms &amp; Conditions</a></p>

      <p class="previous">Previous Years: <a href="http://2009.full-frontal.org">2009</a> <a href="http://leftlogic.com" class="leftLogic"><span>Left Logic</span></a></p>

    </div>

  </footer>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/easing.js"></script>
  <script src="/js/base.js"></script>
  <script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1656750-20']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
  })();
  </script>

</body>
</html>
