<article id="sponsors">

  <h2><span>The Sponsors</span></h2>

  <p>Sponsoring Full Frontal will mean web developers, bloggers and other members of the community will get to know your company better and see that you want to support their community. You will have the opportunity to promote your brand and products to attendees and meet possibly new employees, clients or users. There are also networking opportunities throughout the conference and during the after party.</p>
  <p>Find out how your company can sponsor Full Frontal by reviewing our <a href="sponsorship.html">sponsorship packages</a> and <a href="mailto:events@leftlogic.com">get in touch</a> with us to discuss how we can work together.</p>

  <h3>Full Frontal is proudly sponsored by:</h3>
  <h4>Full Monties</h4>
  <ul>
    <li class="sponsor8 active withtext"><a href="http://mozilla.org/"><span>Mozilla</span></a>
    <p>  Mozilla is an international non-profit organization and a global community
      dedicated to improving the Internet experience for people everywhere. They
      create free, open source products and technologies through highly
      disciplined, transparent and cooperative process. Everything they create is
      a public asset available for others to use, adapt and improve. The result is
      great products built by passionate people – and better choices for
      everyone.  For more information, visit <a href="http://www.mozilla.com">www.mozilla.com</a>.
    </p>
    </li>
  </ul>
  <h4>Half Monties</h4>
  <ul>
    <li class="sponsor1 active"><a href="http://developer.yahoo.com/"><span>Yahoo</span></a></li>
    <li class="sponsor5 active"><a href="http://uxebu.com/"><span>uxebu</span></a></li>
    <li class="sponsor9 active"><a href="http://www.webapplicationsuk.com/"><span>Web Applications UK</span></a></li>
  </ul>
  <h4>Small Monties</h4>
  <ul>
    <li class="sponsor3 active"><a href="http://pusherapp.com/"><span>Pusher</span></a></li>
    <li class="sponsor4 active"><a href="http://dharmafly.com/"><span>Dhamafly</span></a></li>
    <li class="sponsor2 active"><a href="http://www.guardian.co.uk/open-platform"><span>Guardian Open Platform</span></a></li>
  </ul>
  <h4>Media Partners</h4>
  <ul>
    <li class="sponsor7 active"><a href="http://netmag.co.uk/"><span>.net</span></a></li>
    <li class="sponsor6 active"><a href="http://www.avt-inc.com/"><span>AVT</span></a></li>
    <li class="sponsor10 active"><a href="http://www.newriders.com"><span>New Riders</span></a></li>
  </ul>

</article>
