<h2><span>The Venue</span></h2>
<article class="box" id="venueDetails">
  <section class="details">
    <h3><span>Duke of York's Picturehouse</span></h3>
    <p class="location">Preston Circus, Brighton, BN1 4NA<br />+44 (0)871 902 5728</p>
    <p>Full Frontal JavaScript Conference is being held at the historic Duke of York’s Picturehouse in Brighton. It is centrally located on Preston Circus, less than 15 minutes walk from Brighton train station. Trains run regularly from Gatwick Airport, London Bridge and London Victoria stations.</p>

    <h4>By Car</h4>
    <p>Head down the A23 if coming from north or A27 from east/west.</p>

    <h4>By Train</h4>
    <p>Get the train to Brighton, 15 minute walk from there.</p>

    <h4>By Plane</h4>
    <p>Fly to London Gatwick and get the train to Brighton.</p>

  </section>
 
  <section class="map">
 
    <a href="http://maps.google.co.uk/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=108284409783075376607.0004787e4b36591a5feb2&amp;ll=50.831855,-0.139604&amp;spn=0.012197,0.017123&amp;z=15&amp;source=embed"><img width="400" height="400" src="/images/map_tovenue.gif" /></a>
    
    <p><a href="http://maps.google.co.uk/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=108284409783075376607.0004787e4b36591a5feb2&amp;ll=50.831855,-0.139604&amp;spn=0.012197,0.017123&amp;z=15&amp;source=embed">View Larger Map</a></p>
 
  </section>
 
</article>

<article class="box" id="venueHotels">
 
  <section class="details">
 
    <h3><span>Hotels nearby</span></h3>
        
    <ul>
      <li>
        <h4><a href="http://brightonhotels.jurysinns.com/">Jury's Inn</a> <span class="price">&ndash; from £88 per night</span></h4>
        <p>101 Stroudley Road, Brighton, BN1 4DJ</p>
        <a href="http://brightonhotels.jurysinns.com"><img src="/images/hotels/jurysinn.jpg" width="100" height="59" alt="Jury's Inn" title="Jury's Inn" /></a>
      </li>
      <li>
        <h4><a href="http://www.travelodge.co.uk/">Travelodge Brighton</a> <span class="price">&ndash; from £35.50 per night</span></h4>
        <p>165-167 Preston Road, Brighton, BN1 6AU</p>
        <a href="http://www.travelodge.co.uk/"><img src="/images/hotels/travelodge.jpg" width="100" height="59" alt="Travelodge Brighton" title="Travelodge Brighton" /></a>
      </li>
      <li>
        <h4><a href="http://www.myhotels.com/my-hotel-brighton/index.html">My Hotel Brighton</a> <span class="price">&ndash; from £104 per night</span></h4>
        <p>17 Jubilee Street, Brighton, BN1 1GE</p>
        <a href="http://www.myhotels.com/my-hotel-brighton/index.html"><img src="/images/hotels/myhotel.jpg" width="100" height="59" alt="My Hotel Brighton" title="My Hotel Brighton" /></a>
      </li>
      <li>
        <h4><a href="http://www.queenshotelbrighton.com/">Queens Hotel</a> <span class="price">&ndash; from £89 per night</span></h4>
        <p>1-5 Kings Road, Brighton BN1 1NS</p>
        <a href="http://www.queenshotelbrighton.com"><img src="/images/hotels/queens.jpg" width="100" height="59" alt="Queens Hotel" title="Queens Hotel" /></a>
      </li>
    </ul>
 
  </section>
 
  <section class="map">
 
    <a href="http://maps.google.co.uk/maps/ms?ie=UTF8&amp;source=embed&amp;hl=en&amp;msa=0&amp;msid=108284409783075376607.00048a2c3bffd7b3a524c&amp;ll=50.827355,-0.142093&amp;spn=0.017322,0.034761&amp;z=15"><img width="400" height="400" src="/images/map_hotels.gif" /></a>
    <p><a href="http://maps.google.co.uk/maps/ms?ie=UTF8&amp;source=embed&amp;hl=en&amp;msa=0&amp;msid=108284409783075376607.00048a2c3bffd7b3a524c&amp;ll=50.827355,-0.142093&amp;spn=0.017322,0.034761&amp;z=15">View Larger Map</a></p>
 
  </section>
 
</article>

<article class="box" id="venueFood">
 
  <section class="details">
   
    <h3><span>Places to eat nearby</span></h3>
        
    <ul>
      <li>
        <h4>Circus Circus <span class="type">&ndash; Pub</span></h4>
        <p>101 Stroudley Road, Brighton, BN1 4DJ</p>
        <img src="/images/food/circuscircus.jpg" width="100" height="59" alt="Circus Circus" title="Circus Circus" />
      </li>
      <li>
        <h4>The Open House <span class="type">&ndash; Pub</span></h4>
        <p>165-167 Preston Road, Brighton, BN1 6AU</p>
        <img src="/images/food/openhouse.jpg" width="100" height="59" alt="The Open House" title="The Open House" />
      </li>
      <li>
        <h4>Bardsley's <span class="type">&ndash; Fish &amp; Chips</span></h4>
        <p>17 Jubilee Street, Brighton, BN1 1GE</p>
        <img src="/images/food/bardsleys.jpg" width="100" height="59" alt="Bardsley's" title="Bardsley's" />
      </li>
      <li>
        <h4>Mitre Tavern <span class="type">&ndash; Pub</span></h4>
        <p>Kings Road, Brighton, BN1 2GS</p>
        <img src="/images/food/mitretavern.jpg" width="100" height="59" alt="Mitre Tavern" title="Mitre Tavern" />
      </li>
      <li>
        <h4>Mediterrane <span class="type">&ndash; Snack</span></h4>
        <p>2a Stanley Road, Brighton (next to Duke of York's)</p>
      </li>
    </ul>

  </section>
 
  <section class="map">

    <a href="http://maps.google.co.uk/maps/ms?ie=UTF8&amp;source=embed&amp;hl=en&amp;msa=0&amp;msid=108284409783075376607.000476ead657d44bbb21e&amp;z=16"><img height="400" width="400" src="/images/map_food.gif"></a>
    
    <p><a href="http://maps.google.co.uk/maps/ms?ie=UTF8&amp;source=embed&amp;hl=en&amp;msa=0&amp;msid=108284409783075376607.000476ead657d44bbb21e&amp;z=16">View Larger Map</a></p>
 
  </section>
 
</article>

<article class="box" id="afterParty">
 
  <section class="details">
   
    <h3><span>After party</span></h3>
        
    <p>Please join us at the After Party at Oh So Social from 6.30pm-1am - where Mozilla, our Full Monty sponsor has bought you a pint!</p>

  </section>
  <section class="map">

    <a href="http://maps.google.co.uk/maps/ms?ie=UTF8&amp;hl=en&amp;oe=UTF8&amp;source=embed&amp;msa=0&amp;msid=108284409783075376607.00048a2cb7a1a44e6feb5"><img width="400" height="200" src="/images/map_party.gif" /></a>
    
    <p><a href="http://maps.google.co.uk/maps/ms?ie=UTF8&amp;hl=en&amp;oe=UTF8&amp;source=embed&amp;msa=0&amp;msid=108284409783075376607.00048a2cb7a1a44e6feb5">View Larger Map</a></p>
 
  </section>
</article>